openapi: 3.1.0
info:
  title: Influencer Pokedex API
  version: 1.0.0
  description: An API for searching for creators and associated information
servers:
  - url: https://api.influencerpokedex.com/v1
paths:
  /search:
    get:
      summary: Search for creators
      description: Search for creators across YouTube and instagram using metadata filters.
      parameters:
        - name: q
          in: query 
          required: false
          description: Free-text search query (semantic + keyword).
          schema:
            type: string

        - name: platform
          in: query
          required: false
          description: Filter by platform (youtube or instagram).
          schema:
            type: string
            enum: [youtube, instagram]

        - name: primary_niche
          in: query
          required: false
          description: Filter by primary niche.
          schema:
            type: string

        - name: min_followers
          in: query
          required: false
          description: Minimum followers/subsribers count
          schema:
            type: integer
            minimum: 0

        - name: max_followers
          in: query
          required: false
          description: Maximum followers/subscribers count.
          schema:
            type: integer
            minimum: 0

        - name: limit
          in: query
          required: false
          description: Maximum number of creators to return.
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100

      responses:
        '200':
          description: A list of creators that match the search criteria
          content:
            application/json:
              schema:
                type: object
                properties:
                  creators:
                    type: array
                    items:
                      $ref: '#/components/schemas/Creator'

components:
  schemas:
    Creator:
      type: object
      required: [id, name, primary_niche, summary]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        primary_niche:
          type: string
        secondary_niches:
          type: array
          items:
            type: string
        style:
          type: string
        summary:
          type: string
        score:
          type: number
          description: Hybrid ranking score (semantic + keyword + quality)
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/CreatorAccount'

    CreatorAccount:
      type: object
      required: [platform, username]
      properties:
        platform:
          type: string
          enum: [youtube, instagram]
        username:
          type: string
        followers:
          type: integer
          minimum: 0