openapi: 3.1.0
info:
  title: Influencer Pokedex API
  version: 1.0.0
  description: An API for searching for creators and associated information
servers:
  - url: https://api.influencerpokedex.com/v1
paths:
  /search:
    parameters:
      - name: q
        in: query 
        required: true
        schema:
          type: string
      - name: platform
        in: query
        required: true
        schema:
          type: string
      - name: min_followers
        in: query
        required: true
        schema:
          type: integer
      - name: max_followers
        in: query
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
    get:
      summary: Get back creators 
      description: Get back a list of creators on the platform